@using LConn_BugTracker.Models
@model ForgotViewModel

@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LConn BugTracker</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Fonts/typicons.css" />
    <link rel="stylesheet" href="~/Content/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" img src="~/Images/favicon-96x96.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-transparent text-left p-5 text-center">
                            <div class="brand-logo">
                                <img src="~/Images/LC_BT Logo (3).png" alt="logo">
                            </div>
                            <img src="~/Images/forgotpass.jpg" class="lock-profile-img" alt="img">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary("", new { @class = "text-danger"})

                                <div class="form-group"> 
                                    <label for="Email">Enter your email to reset your Password.</label>
                                    <input type="email" class="form-control text-center" name="Email" placeholder="Email">
                                </div>
                                <div class="mt-5">
                                    <button class="btn btn-block btn-outline-success btn-lg font-weight-medium auth-form-btn" type="submit">SUBMIT</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/Scripts/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Scripts/off-canvas.js"></script>
    <script src="~/Scripts/hoverable-collapse.js"></script>
    <script src="~/Scripts/template.js"></script>
    <script src="~/Scripts/settings.js"></script>
    <script src="~/Scripts/todolist.js"></script>
    <!-- endinject -->
</body>

</html>